/* Responsive navigation */
@media screen and (min-width: 720px) {
  .menu-btn {
    display: none !important;
  }
  ul.nav-links {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 720px) {
  .nav-links {
    display: none !important;
  }

  .mobile-nav {
    right: 0;
    top: 8vh;
    position: absolute;
    text-align: center;
    background-color: #304353;
    width: 100%;
  }
  .mobile-nav li {
    margin-bottom: 5px;
  }
  .hero-background-pos {
    display: none;
  }
  .footer-input {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin: 10px 0px;
    width: 100%;
  }
}

/* 
xs = Extra small <576px. Max container width None (auto)
sm = Small ≥576px. Max container width 540px.
md = Medium ≥768px. Max container width 720px.
lg = Large ≥992px. Max container width 960px.
xl = Extra large ≥1200px. Max container width 1140px. 
*/
